.navbar-nav{
    --bs-scroll-height: 100px;
}

.logo{
    transition: .5s;
    color:green;
    text-decoration: none;
    &:hover{ 
        transform: scale(1.1);
    }
}
.link{
    transition: .5s;
    text-decoration: none;
    &:hover{
        color: green;
        transform: scale(1.06);
    }
}